.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 4px;
  min-width: 200px;

}

.err-msg{
  color:red;
}

.news-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.news-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border: solid gray 1px;
  margin-bottom: 4px;
  color: #a0a0a0;
}

.news-source{
  min-width: 15%;
  text-overflow: ellipsis;
  border-right: solid gray 1px;
  margin-right: 4px;
  color: #2a2a2a;
  font-weight: 600;
}

.news-title{
  color: blue;
}

.news-content-container{
  align-items: start;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.new-description {
  text-align: left;
}